Flask
Flask-Cors
Jinja2
MarkupSafe
PyJWT
WSGIserver
Werkzeug
beautifulsoup4
bitmap
bs4
chardet
dictionary
nltk
numpy
pandas
pip
python-dateutil
pytz
query-string
requests
scikit-learn
scipy
setuptools
singledispatch
six
soupsieve
urllib3
wheel